
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.idea/.gitignore
/.idea/awepay-api-test.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/phpunit.xml
/.idea/vcs.xml
